@font-face  {
    font-family:  "gosoicon";
    font-display:  swap;
    src:  url("../fonts/gosoicon.ttf") format("truetype"),  url("../fonts/gosoicon.woff") format("woff"),  url("../fonts/gosoicon.woff2") format("woff2"),  url("../fonts/gosoicon.eot#iefix") format("embedded-opentype"),  url("../fonts/gosoicon.svg#gosoicon") format("svg");
}
i[class^="gosoicon-"],  i[class*=" gosoicon-"]  {
    display:  inline-block;
    font-family:  gosoicon !important;
    font-style:  normal;
    font-weight:  normal !important;
    font-variant:  normal;
    text-transform:  none;
    line-height:  1;
    -webkit-font-smoothing:  antialiased;
    -moz-osx-font-smoothing:  grayscale;
}

.gosoicon-left-quote:before {
    content: "\f101";
}
.gosoicon-messenger:before {
    content: "\f102";
}
.gosoicon-goodreads:before {
    content: "\f103";
}
.gosoicon-viber:before {
    content: "\f104";
}
.gosoicon-discord:before {
    content: "\f105";
}
.gosoicon-tik-tok:before {
    content: "\f106";
}
.gosoicon-line:before {
    content: "\f107";
}
.gosoicon-douban-logo:before {
    content: "\f108";
}
.gosoicon-qq-social-logo-of-a-penguin:before {
    content: "\f109";
}
.gosoicon-magnifiying-glass:before {
    content: "\f10a";
}
.gosoicon-heart:before {
    content: "\f10b";
}
.gosoicon-shuffle:before {
    content: "\f10c";
}
.gosoicon-shopping-bag:before {
    content: "\f10d";
}
.gosoicon-shopping-cart:before {
    content: "\f10e";
}
.gosoicon-share:before {
    content: "\f10f";
}
.gosoicon-sharing:before {
    content: "\f110";
}
.gosoicon-user:before {
    content: "\f111";
}
.gosoicon-close-button:before {
    content: "\f112";
}
.gosoicon-check-symbol:before {
    content: "\f113";
}
.gosoicon-expand:before {
    content: "\f114";
}
.gosoicon-avatar:before {
    content: "\f115";
}
.gosoicon-search:before {
    content: "\f116";
}
.gosoicon-ruler:before {
    content: "\f117";
}
.gosoicon-moon:before {
    content: "\f118";
}
.gosoicon-sun:before {
    content: "\f119";
}
.gosoicon-shopping-cart-1:before {
    content: "\f11a";
}
.gosoicon-shopping-cart-2:before {
    content: "\f11b";
}
.gosoicon-right-chevron:before {
    content: "\f11c";
}
.gosoicon-left-chevron:before {
    content: "\f11d";
}
.gosoicon-down-chevron:before {
    content: "\f11e";
}
.gosoicon-up-chevron:before {
    content: "\f11f";
}
.gosoicon-exchange:before {
    content: "\f120";
}
.gosoicon-down-arrow:before {
    content: "\f121";
}
.gosoicon-left-arrow:before {
    content: "\f122";
}
.gosoicon-exchange-1:before {
    content: "\f123";
}
.gosoicon-right-chevron-1:before {
    content: "\f124";
}
.gosoicon-down-chevron-1:before {
    content: "\f125";
}
.gosoicon-left-chevron-1:before {
    content: "\f126";
}
.gosoicon-up-chevron-1:before {
    content: "\f127";
}
.gosoicon-undo:before {
    content: "\f128";
}
.gosoicon-free-delivery:before {
    content: "\f129";
}
.gosoicon-facebook:before {
    content: "\f12a";
}
.gosoicon-twitter:before {
    content: "\f12b";
}
.gosoicon-instagram:before {
    content: "\f12c";
}
.gosoicon-pinterest:before {
    content: "\f12d";
}
.gosoicon-linkedin:before {
    content: "\f12e";
}
.gosoicon-flickr:before {
    content: "\f12f";
}
.gosoicon-behance:before {
    content: "\f130";
}
.gosoicon-tumblr:before {
    content: "\f131";
}
.gosoicon-youtube:before {
    content: "\f132";
}
.gosoicon-email:before {
    content: "\f133";
}
.gosoicon-vk:before {
    content: "\f134";
}
.gosoicon-vine:before {
    content: "\f135";
}
.gosoicon-soundcloud:before {
    content: "\f136";
}
.gosoicon-snapchat:before {
    content: "\f137";
}
.gosoicon-spotify:before {
    content: "\f138";
}
.gosoicon-github:before {
    content: "\f139";
}
.gosoicon-stack-overflow:before {
    content: "\f13a";
}
.gosoicon-twitch:before {
    content: "\f13b";
}
.gosoicon-steam:before {
    content: "\f13c";
}
.gosoicon-vimeo:before {
    content: "\f13d";
}
.gosoicon-xing:before {
    content: "\f13e";
}
.gosoicon-whatsapp:before {
    content: "\f13f";
}
.gosoicon-telegram:before {
    content: "\f140";
}
.gosoicon-reddit:before {
    content: "\f141";
}
.gosoicon-odnoklassniki:before {
    content: "\f142";
}
.gosoicon-500px-monogram:before {
    content: "\f143";
}
.gosoicon-stumbleupon:before {
    content: "\f144";
}
.gosoicon-wechat:before {
    content: "\f145";
}
.gosoicon-sina-weibo:before {
    content: "\f146";
}
.gosoicon-line-1:before {
    content: "\f147";
}
.gosoicon-viber-1:before {
    content: "\f148";
}
.gosoicon-discord-1:before {
    content: "\f149";
}
.gosoicon-rss:before {
    content: "\f14a";
}
.gosoicon-slack:before {
    content: "\f14b";
}
.gosoicon-slack-1:before {
    content: "\f14c";
}
.gosoicon-tripadvisor:before {
    content: "\f14d";
}
.gosoicon-tik-tok-1:before {
    content: "\f14e";
}
.gosoicon-letter-d:before {
    content: "\f14f";
}
.gosoicon-d:before {
    content: "\f150";
}
.gosoicon-blogger:before {
    content: "\f151";
}
.gosoicon-blogger-1:before {
    content: "\f152";
}
.gosoicon-delicious:before {
    content: "\f153";
}
.gosoicon-deviantart:before {
    content: "\f154";
}
.gosoicon-digg:before {
    content: "\f155";
}
.gosoicon-dribbble:before {
    content: "\f156";
}
.gosoicon-ebay:before {
    content: "\f157";
}
.gosoicon-ebay-1:before {
    content: "\f158";
}
.gosoicon-evernote:before {
    content: "\f159";
}
.gosoicon-evernote-1:before {
    content: "\f15a";
}
.gosoicon-flipboard:before {
    content: "\f15b";
}
.gosoicon-forrst:before {
    content: "\f15c";
}
.gosoicon-forrst-1:before {
    content: "\f15d";
}
.gosoicon-grooveshark:before {
    content: "\f15e";
}
.gosoicon-grooveshark-1:before {
    content: "\f15f";
}
.gosoicon-lastfm:before {
    content: "\f160";
}
.gosoicon-myspace:before {
    content: "\f161";
}
.gosoicon-myspace-logo:before {
    content: "\f162";
}
.gosoicon-brand:before {
    content: "\f163";
}
.gosoicon-skype:before {
    content: "\f164";
}
.gosoicon-windows:before {
    content: "\f165";
}
.gosoicon-wordpress-logo:before {
    content: "\f166";
}
.gosoicon-yahoo-logo:before {
    content: "\f167";
}
.gosoicon-yahoo:before {
    content: "\f168";
}
.gosoicon-y:before {
    content: "\f169";
}
.gosoicon-right-quotation-sign:before {
    content: "\f16a";
}
.gosoicon-deviantart-1:before {
    content: "\f16b";
}
.gosoicon-transfer:before {
    content: "\f16c";
}
.gosoicon-right-and-left:before {
    content: "\f16d";
}
.gosoicon-exchange-2:before {
    content: "\f16e";
}
.gosoicon-shopping-cart-4:before {
    content: "\f16f";
}
.gosoicon-shop:before {
    content: "\f170";
}
.gosoicon-home:before {
    content: "\f171";
}
.gosoicon-user-1:before {
    content: "\f172";
}
.gosoicon-gallery:before {
    content: "\f173";
}
.gosoicon-megaphone:before {
    content: "\f174";
}
.gosoicon-news:before {
    content: "\f175";
}
.gosoicon-newspaper:before {
    content: "\f176";
}
.gosoicon-add:before {
    content: "\f177";
}
.gosoicon-calculation-operations-minus-sign:before {
    content: "\f178";
}
