.swatch-preview {
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-weight: 700;
    border: 1px solid #ccc;
}

.goso-modal-container {
    position: relative;
    display: none;
}

.goso-modal {
    transform: translate(-50%, -50%);
    position: fixed;
    top: 50%;
    left: 50%;
    width: 360px;
    max-width: 90%;
    z-index: 159990;
    background-color: #fcfcfc;
}

.goso-modal input.error {
    border-color: #dc3232;
}

.goso-modal-header,
.goso-modal-content,
.goso-modal-footer {
    padding: 20px;
}

.goso-modal-header {
    padding-top: 0;
    padding-bottom: 0;
}

.goso-modal-content {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}

.goso-modal-footer {
    text-align: right;
}

.goso-modal-footer .message,
.goso-modal-footer .spinner {
    float: left;
}

.goso-modal-footer .message.error {
    color: #dc3232;
}

.goso-modal-footer .message.success {
    color: #46b450;
}
